

<div class="users_container">
    <div class="users_header">
    <p>ID</p>
    <p>E-mail</p>
    <p>Никнеймы</p>
    </div>

    <div class="users_section">
    
      <% @users.each do |user| %>
        <div class='user_info'>
          <p><%= user.id %></p>
          <p><%= link_to user.email, user %></p>
          <p><%= user.username %></p>
        </div>
      <% end %>
    </div>
</div>