@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');
@import 'reset.css';

.posts{
    background-color: #292929;
     height: 100%;
     width: 100%;
     font-family: 'Open Sans', sans-serif;
   &_container {
      padding: 40px 60px;

       .post_creation_action {
           float: right;
           background-color: #C4C4C4;
           color: #1B1D1A;
           font-size: 16px;
           border: none;
           border-radius: 2px;
           padding: 8px 16px;
           margin-bottom: 24px;
       }
       
   }
}


.post {
    width: 650px;
    background-color: #C4C4C4;
    margin-bottom: 40px;

    &_contentFull {

        
        padding: 24px 56px 56px;
        font-family: 'Open Sans', sans-serif;
        color: #1B1D1A;
    }

    &_additional {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        button {
            text-decoration: none;
            color: #1B1D1A;
            font-weight: bold;
            background: none;
            border: none;

            &:hover {
                color: #1B1D1A;
            }
        }
        
       
    }

    &_author {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    &_content {
        font-size: 22px;
        font-weight: regular;
        line-height: 1.2;
    }

    &_actions {
        text-decoration: none;
        float: right;
        width: 100px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #1B1D1A;

        :hover {
            font-weight: bold;
            border-bottom: 1px solid ;
        }
    }
}

.comments {
    
    background-color: #1B1D1A;
    width: 100%;

    &_action {
        display: flex;
        justify-content: space-between;
    }

   

}


