@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap';
@import 'reset.css';





  
.posts{
    background-color: white;
    display: flex;
     height: 100vh;
     width: 100%;
     padding: 40px 100px;
     font-family: 'Open Sans', sans-serif;
     
   &_container {
    width: 60%;
      padding: 40px 60px;

       .post_creation_action {
           float: right;
           background-color: #C4C4C4;
           color: #1B1D1A;
           font-size: 16px;
           border: none;
           border-radius: 2px;
           padding: 8px 16px;
           margin-bottom: 24px;
       }
       
   }
}


.post {
    width: 650px;
    background-color: #C4C4C4;
    margin-bottom: 40px;

    &_contentFull {

        
        padding: 24px 56px 56px;
        font-family: 'Open Sans', sans-serif;
        color: #1B1D1A;
    }

    &_additional {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        button {
            text-decoration: none;
            color: #1B1D1A;
            font-weight: bold;
            background: none;
            border: none;
            color: #1B1D1A;

            &:hover {
                color: #1B1D1A;
            }
        }
        
       
    }

    &_author {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    &_content {
        font-size: 22px;
        font-weight: regular;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    &_actions {
        text-decoration: none;
        float: right;
        width: 100px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #1B1D1A;

        button {
            text-decoration: none;
            color: #1B1D1A;
            font-weight: bold;
            background: none;
            border: none;
            color: #1B1D1A;

            &:hover {
                color: rgba($color: #1B1D1A, $alpha: 0.6);
            } 
        }
        
    }
}

.comments {
    
    background-color: #1B1D1A;
    width: 100%;

    &_action {
        display: flex;
        justify-content: space-between;
    }

   

}




.form {
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: #1B1D1A;
  margin: 50px auto;
  border-radius: 2px;

  .field {
    width: 100%;
    height: 56px;
    margin-bottom: 24px;
     
    p{
      font-size: 18px;
      color: #D82C2C;
    }

    input {
      background-color: #D82C2C;
      width: 100%;
      border-radius: 2px;
      height: 56px;
      outline: none;
    }
  }

  .actions {
    button {
      text-decoration: none;
      color: #1B1D1A;
      font-weight: bold;
      background: none;
      border: none;
      color: #1B1D1A;
      background-color: #D82C2C;

  
      &:hover {
          color: rgba($color: #1B1D1A, $alpha: 0.6);
      } 
    }
  }
}


// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.posts_container {
  width: 100%;


}

.post_data {
  display: flex;
  justify-content: end;
  width: 100%;

}

.post_content {
  margin-top: 33px;

  img {
    margin-top: 14px;
    max-width: 300px;
  }
  
}

.post_secondayactions {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;

}

.post_container {
  width: 620px;
  background-color: #C4C4C4;
  padding: 21px 22px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 4px;

}

.post_data {
  display: flex;
  justify-content: end;
  width: 100%;
 a {
   margin-left: 10px;
   color: black;
 }
}

.post_content {
  margin-top: 33px;
  
}

.post_secondayactions {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;

}



