

<div class="categories_div">


     
    

    <div class="categoriespage_container">

    <% Category.all.each do |cat| %>
  
    <div class="category_name">
    <%= link_to cat.name, posts_path(category: cat.name), :class => 'category_btn' %> <br>
    
    
    
    </div>
  <% end %>

    <%= link_to 'Добавить категорию', new_category_path, :class => 'createcategory_btn' %>
</div>
</div>

  