


 <div class="categories">
  
    <h2>Категории</h2>

    <div class="categories_header">
    <p>Название</p>
    <p>Количество постов</p>
    </div>
  <% Category.all.each do |cat| %>
  <div class="categories_list">
    <%= link_to cat.name, posts_path(category: cat.name), :class => 'category_btn' %> <br>
  <% end %>
  </div>
  
     <%= link_to 'New Category', new_category_path, :class => 'createcategory_btn' %>
    </div>